<table>
    <tbody>
        <tr class="header"> 
            <th> {{#str}} srn, block_customblock {{/str}}</th>
            <th> {{#str}} course_name, block_customblock {{/str}}</th>
            <th> {{#str}} course_id, block_customblock {{/str}}</th>
        </tr>

{{#data}}
<tr>
    <td>{{id}}</td>
    <td>{{fullname}}</td>
    <td>{{idnumber}}</td>
</tr>
{{/data}}

</tbody>
</table>